@charset "UTF-8";
/* CSS Document */
/* Cool */

body {
	margin:50px 0px 0px 0px;
}

#container {
	box-shadow: 3px 3px 4px #000000;
	-moz-box-shadow: 3px 3px 4px #000000;
	-webkit-box-shadow: 3px 3px 4px #000000;
	-khtml-box-shadow: 3px 3px 4px #000000;
	position: relative;
	margin:0 auto;
	width: 950px;
	background-color:#ffffff;
}

#head {
	position:relative;
	float:left;
	width: 900px;
	height:100px;
}

#produkt {
	position:relative;
	display:block;
	float:left;
	padding:5px;
	background-color:#02C0FD;
	width: 290px;
	height: 600px;
}


#hersteller {
	position:relative;
	float:left;
	padding:5px;
	background-color:#02C0FD;
	width: 290px;
	height: 600px;
}

#recyclinghof {
	position:relative;
	float:left;
	padding:5px;
	background-color:#ff00ff;
	width: 290px;
	height: 600px;
}